
<h1 class="page-title">Register</h1>

<form novalidate #f="ngForm" (ngSubmit)="register(f)">

  <div class="forms-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" placeholder="username" id="username"
           name="username"
           [(ngModel)]="username"
           #userName="ngModel"
           minlength="2"
           required>
  </div>
  <div class="alert alert-danger" *ngIf="userName.errors?.required && userName.touched">
    Benutzername ist erforderlich.
  </div>
  <div class="alert alert-danger" *ngIf="userName.errors?.minlength && userName.touched">
    Minimale Passwortlänge ist 2.
  </div>

  <div class="forms-group">
    <label for="username">Password</label>
    <input type="password" class="form-control" placeholder="username" id="password"
           name="password"
           [(ngModel)]="password"
           #userPassword="ngModel"
           minlength="4"
           required>
  </div>
  <div class="alert alert-danger" *ngIf="userPassword.errors?.required && userPassword.touched">
    Password ist erforderlich.
  </div>
  <div class="alert alert-danger" *ngIf="userPassword.errors?.minlength && userPassword.touched">
    Minimale Passwortlänge ist 4.
  </div>

  <div class="form-group">
    <button class="btn btn-default" [disabled]="!f.valid">Registrieren</button>
  </div>


</form>
